{% extends "t_standard.html" %}
{% block body %}

  <h2>Command</h2>

  <br />

  <form action="{{ url_for('web_cmd') }}" method=get>


    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Command:</span>
        <input type="text" class="form-control" placeholder="type a command" aria-describedby="basic-addon1" id="cmd" name="cmd" value="{{cmd}}">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">Excecute</button>
        </span>
    </div><!-- /input-group -->

    <!--
    <input type="text" class="form-control" id="cmd" name="cmd" value="{{cmd}}">

    <button type="submit" class="btn btn-primary">Submit</button>
    <input type=submit class="btn btn-primary" value=Submit>
    -->

  </form>

  <hr>

  [{{err}}] {{ret}}

  <hr>

{% endblock %}