
body {
    background-color: #F5F2DC !important;
}

.XXXgadgets, .card {
    background-color: #FCFCFC !important;
    border: 1px solid #8a8a8a !important;
    border-radius: 4px;
    margin: 0.5rem;
}
.gadgets .card-header {
    background-color: #F5FFEB;
}
.gateways .card-header {
    background-color: #EBF2FF;
}
.rules .card-header {
    background-color: #FFF3EB;
}


.badge-dark {
    text-align: left;
    font-weight: 500;
    color: #17A2B8 !important;
    background-color: #343A40 !important;
    padding: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}
.badge-secondary {
    text-align: left;
    font-weight: 500;
    padding: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}


.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
    color: #ED5121 !important;
    background-color: #F5F2DC !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFC107;
}


.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
    margin-bottom: -10px !important;
    border-bottom: 0
}

.nav-tabs {
    border-bottom: 2px solid #17A2B8;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1.0rem !important;
    padding-left: 1.0rem !important;
}


.table .thead-dark th {
    color: #FFC107 !important;
    background-color: #343A40 !important;
    border: 2px solid #17A2B8 !important;
}




.ezTest {
    background-color: #343A40 !important;
}